.chat-list-header{

    display: flex;
    align-items: center;
    gap: 2.063rem;
    border-bottom: 1px solid #c3c4c3;
    width: 94%;
    justify-content: space-between;
    padding-bottom: 1.6rem;
}

.chat-search{

    display: flex;
}

.chat-searchbar{
    background-color: #EEF1F4;
    border: none;
    border-radius: 0px 0.313rem 0.313rem 0px;
    width: 100%;
    padding: 0.625rem;
    font-size: 1.875rem;
    padding-bottom: 0.625rem;

}

.chat-searchbar::placeholder{
    font-size: 1.5rem;
}

.chat-magnify{


    border-radius: 0.313rem 0px 0px 0.313rem;
}

.chat-edit{
    font-size: 1.6rem;
    color: grey;

}