.message-container{

    display: flex;
    width: 50%;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

.message-box{

    display: flex;
    flex-direction: column;
    background-color: #c3c4c3;
    padding: 0.813rem;
    border-radius: 0.313rem;
}

.recieve{

    background-color: rgb(239,241,244);
    color: #0A66C2;
}

.message{
    font-size: 1.313rem;
    font-weight: 500;
}

.sent-time{
    text-align: end;
    font-size: smaller;
}


.sent-message{
    margin-left: 50%;
}

.sent-box{

    background-color: #0A66C2;
    color: white;
}