.button{
    width: 100%;
}

.hallow{
    color: #0A66C2;
    border: 0.125rem solid #0A66C2;
    border-radius:0.125rem;
    background-color: white;
    font-weight: bold;
}

.normal{
    background-color: #0A66C2;
    color: white;
    border: none;
}

.small{
    padding: 0.313rem;

}

.big{
    padding: 0.938rem 0rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    font-weight: bold;
}