*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

#sideNav{
    width: 14%;
}

#center{
    width: 60%;
}

.page-content{
    display: flex;
}

#right{
    padding-right: 82px;
    padding-left: 22px;
    width: 25%;
}

.page-body{
    padding: 5rem;
    display: flex;
}

#chatlist{
    width: 30%;
    border-right: 2px solid #c3c4c3;
    height: 80vh;
    overflow: scroll;
}

#chat{
    width: 70%;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
}


#overlay {
    position: fixed; 
    /* display: none; Hidden by default */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(97, 97, 97, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #overlay.show{
    display: block;
  }

  .type{

    background-color: #EEF1F4;
    border: none;
    border-radius: 0px 5px 5px 0px;
    width: 93%;
    padding: 21px;
    font-size: 15px;
  }

  .message-bar{
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;

  }

  .message-clip{

    font-size: 2rem;
    padding-top: 14px;
    background-color: #EEF1F4;
    width: 5%;
    padding-left: 10px;
    color: grey;
    border-radius: 5px;
  }

  .plane{

    font-size: 2rem;
    padding-top: 10px;
    color: grey;
  }

  .today{
    text-align: center;
    font-size: 1.5rem;
    color: #e7e8e8;
    margin-top: 10px;
  }