*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

#sideNav{
    width: 14%;
}

#center{
    width: 60%;
}

.page-content{
    display: flex;
}

#right{
    padding-right: 82px;
    padding-left: 22px;
    width: 25%;
}