.message-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin-left: 0.313rem;
    padding: 0px 1.375rem;
    border-bottom: 1px solid #c3c4c3;
}


.chat-common-info{
    width: 100%;
    position: relative;
}

.left{
    display: flex;
    width: 80%;
    gap: 1.25rem;
    align-items: center;
}

.chat-info-name{
    font-size: 1.625rem;
    font-weight: 500;
}

.connect{
    width: 6.25rem;
}

.chat-info-description{
    font-size: 0.938rem;
    font-weight: 400;
    color: grey;
}

.chat-info-location{
    font-size: 0.625rem;
    color: #bfbfbf;
}

.chat-time{

    color: grey;
    font-size: 0.875rem;
}

.message-right{

    display: flex;
    gap: 42px;
    width: 20%;
    align-items: center;
    font-size: 1.938rem;
    color: grey;
}

.unread{

    background-color: #0A66C2;
    padding: 0.313rem 11px;
    border-radius: 50%;
    color: white;
}

.hide-unread{
    visibility: hidden;
}

.glass{
    background-color: white;
}

.light{
    background-color: #0fc841;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    top: 1.938rem;
    left: 42px;
}


