.post-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.heading{
    color: #b8b8b8;
    font-size: 2.188rem;
    margin-bottom: 0.938rem;
    border-bottom: 1px solid #0A66C2;
    width: 98%;
}

.post-info{
    width: 98%;
    display: flex;
    border-bottom: 1px solid #0A66C2;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
}

.details{
    width: 70%;
    display: flex;
    gap: 0.313rem;
    margin-bottom: 0.938rem;
}

.age{
    color: black;
    font-size: 0.625rem;
}

.name{
    color: black;
    font-weight: bold;
}

.designation{
    color: grey;
}

.time{
    color: grey;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.fa-ellipsis-vertical{
    color: grey;
    font-size: 1.438rem;
}

.plus{
    color: grey;
    font-size: 1.438rem;
    font-size: 3.125rem;
    font-weight: lighter;
    position: relative;
    top: 0.625rem;
    left: 1rem;
}

.post-pen{
    font-size: 1.375rem;
    position: relative;
    top: 34px;
    
}

