.post-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.heading{
    color: #b8b8b8;
    font-size: 35px;
    margin-bottom: 15px;
    border-bottom: 1px solid #0A66C2;
    width: 98%;
}

.post-info{
    width: 98%;
    display: flex;
    border-bottom: 1px solid #0A66C2;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;
}

.details{
    width: 70%;
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.age{
    color: black;
    font-size: 10px;
}

.name{
    color: black;
    font-weight: bold;
}

.designation{
    color: grey;
}

.time{
    color: grey;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.fa-ellipsis-vertical{
    color: grey;
    font-size: 23px;
}

.plus{
    color: grey;
    font-size: 23px;
    font-size: 50px;
    font-weight: lighter;
    position: relative;
    top: 10px;
    left: 16px;
}

.post-pen{
    font-size: 22px;
    position: relative;
    top: 34px;
    
}

