*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

#sideNav{
    width: 14%;
}

#center{
    width: 60%;
}

.page-content{
    display: flex;
}

#right{
    padding-right: 82px;
    padding-left: 22px;
    width: 25%;
}


#overlay {
    position: fixed; 
    /* display: none; Hidden by default */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(97, 97, 97, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #overlay.show{
    display: block;
  }