.para{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    position: relative;
}

.para-header{
    display: flex;
    flex-direction: column;
}

.para-title{
    font-size: 1.438rem;
    color: #0A66C2;
}

.para-location{
    font-size: 1.438rem;
    color: grey;
}

.para-body{
    display: flex;
    justify-content: space-between;
    gap: 46px;
}

.para-left{
    color: #bebebe;
    font-size: 0.625rem;
    width: 37%;
}

.para-content{
    color: grey;
    font-size: 1.125rem;
    font-weight: bold;
}

.pen{
    position: absolute;
    color: grey;
    right: -0.5rem;
    top: 0.313rem;
}

.para-hide{
    visibility: hidden;
}