.search {
    background-color: #EEF1F4;
    border: none;
    border-radius: 0.313rem 0px 0px 0.313rem;
    width: 100%;
    padding: 0.625rem;
    font-size: 1.875rem;
  }
  
  .fa-magnifying-glass {
    color: #C3C4C3;
    padding: 0.625rem;
    font-size: 1.875rem;
    background-color: #EEF1F4;
    border-radius: 0px 0.313rem 0.313rem 0px;
  }
  
  .searchbar {
    display: flex;
    position: relative;
    z-index: 2;
  }

  .search-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .info-snippet.search-snippet{
    border-top: 0.0.313rem solid grey;
    border-bottom: 0.0.313rem solid grey;
    padding: 0.625rem 0px;
    margin-top: 0px;

  }

  .search-result-content{
    padding: 1.875rem;
    position: relative;
  }

  .viewmore{
    float: right;
    margin: 0.625rem 0px;
    color: #0A66C2;
    cursor: pointer;
    font-size: 1.125rem;
  }

  .searchevent{
    position: absolute;
    width: 100%;
    top: 56px;
    z-index: 2;
    background-color: white;
    height: 45vh;
    overflow: scroll;
  }

  .search-hide{
    display: none;
  }

  .list-title{

    position: absolute;
    top: 1.125rem;
    /* margin: 0 auto; */
    /* text-align: center; */
    left: 44%;
    background-color: white;
    padding: 0px 0.313rem;
  }
  