.logo{
    height: 3.438rem;
    width: 11.688rem;
    display: inline;
    object-fit: cover;
}

.header{
    display: flex;
    padding: 1.25rem 5rem;
    border-bottom: 1px solid #0A66C2;
    margin-bottom: 1.875rem;
}

.search-bar-div{
    width: 57%;
    margin: 0 auto;
}

.font-header{
    background-color: white;
    color: #C3C4C3;
    padding: 0.625rem;
    font-size: 1.875rem;
    border-radius: 0px 0.313rem 0.313rem 0px;
}

.icons{
    margin-right: 2.938rem;
    display: flex;
    gap: 0.813rem;
}

.profile{
    height: 3.438rem;
    width: 3.438rem;
    object-fit: cover;
}