.chat-info-snippet{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-left: 10px;
}

.chat-info-snippet:hover{
    background-color: rgb(239,241,244);
    border-left: 3px solid #0A66C2;
}

.chat-common-info{
    width: 100%;
}

.left{
    display: flex;
    width: 80%;
    gap: 20px;
    align-items: center;
}

.chat-info-name{
    font-size: 26px;
    font-weight: 500;
}

.connect{
    width: 100px;
}

.chat-info-description{
    font-size: 15px;
    font-weight: 400;
    color: grey;
}

.chat-info-location{
    font-size: 10px;
    color: #bfbfbf;
}

.chat-time{

    color: grey;
    font-size: 14px;
}

.chat-right{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 20%;
}

.unread{

    background-color: #0A66C2;
    padding: 6px 10px;
    border-radius: 50%;
    font-size: 0.8rem;
    color: white;
}

.hide-unread{
    visibility: hidden;
}


