.number-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 90px;
}

.number{
    width: 6.25rem;
    margin: 0 auto;
    text-align: center;
}

.number-info{
    width: 6.25rem;
    margin: 0 auto;
    text-align: center;
    font-size: 0.938rem;
    color: #c3c4c3;
}