.post-container{
    background-image: linear-gradient(#EEF1F4, #FFFFFF);
    width: 100%;
    padding: 1.25rem 40px;
    padding-left: 60px;
    height: fit-content;
    margin-bottom: 1.875rem;
    border-radius: 0.25rem;
    position: relative;
}

.feature-wrapper{
    width: 97%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    margin-top: 1.25rem;
    position: relative;
    
}

.box{
    width: 98%;
    display: flex;
    flex-direction: column;
    margin-top: 2.188rem;
    gap: 0.625rem;
    position: relative;
}

.text{
    color: grey;
}

.tags{
    color: #b8b8b8;
    margin-top: 1.25rem;
}

.post-image{
    margin-top: 0.625rem;
    height: 323px;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-top: 1.25rem;
}

.right{
    display: flex;
    width: 20%;
    gap: 40px;
}

.info{
    display: flex;
    flex-direction: column;
}

.post-icon{
    color: grey;
    font-size: 1.875rem;
}

.count{
    color: grey;
    font-size: 0.75rem;
    text-align: center;
    
}

.blue{
    color: #0A66C2;
}

.input{
    border: none;
    background: none;
    overflow: auto;
    outline: none;
    resize: none; 
    font-size: 1.25rem;
}

.clip{
    position: absolute;
    right: -1.875rem;
    font-size: 1.5rem;
    color: rgb(100, 100, 100);
}

.right-arrow{
    position: absolute;
    font-size: 1.5rem;
    color: rgb(100, 100, 100);
    transform: rotate(-90deg);
    cursor: pointer;
    right: 27px;
    top: 174px;
}

.para-container{
    display: flex;
    flex-direction: column;
    gap: 2.188rem;
    margin-top: 25px;
}
