.hide-group.group{
    display: none;
}

.show-group.group{
    display: flex;
}


.invert{
    transform: rotate(180deg);
}

.group-container{
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.group-image{
    
    width: 3.125rem;
    height: 3.125rem;
    margin-left: 0.938rem;
}

.group{
    margin-bottom: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.938rem;
    font-weight: bold;
    color: #c3c4c3;
    color: grey;
    width: 100%;
}

.group-text{
    width: 70%
}

.show-all{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    color: grey;
    cursor: pointer;
}

.show{
    font-size: 1.25rem;
}

