.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
}

.image{
    height: 70px;
    width: 70px;
}

.name{
    display: inline;
}

.person{
    display: flex;
    justify-content: space-between;
}

.details{
    color: grey;
}

.location{
    font-size: 10px;
    color: grey;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-list{
    width: 100px;
    margin: 0 auto;
}

.item{
    display: flex;
    gap: 10px;
    color: grey;
}

